name: Release Oolite packages

on:
  release:
    types: [published]   # Trigger only when a new release is published
permissions:
  contents: write
jobs:
  run:
    runs-on: windows-2025

    steps:
    - uses: actions/checkout@v6
    - name: Set up MSYS2
      uses: msys2/setup-msys2@v2
      with:
        update: true
        
    - name: Install clang
      shell: msys2 {0}
      env:
        msystem: UCRT64
      run: |
        ./install.sh clang
    # Upload artifacts to the release
    - name: Upload to GitHub Release
      if: success()
      uses: softprops/action-gh-release@v2
      with:
        files: packages/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Uninstall UCRT64 packages
      shell: msys2 {0}
      run: |
        # Remove all UCRT64 packages to avoid mixing
        pacman -Rns --noconfirm $(pacman -Qq | grep '^mingw-w64-ucrt-x86_64-')

    - name: Install gcc
      shell: msys2 {0}
      env:
        msystem: MINGW64
      run: |
        ./install.sh gcc
    # Upload artifacts to the release
    - name: Upload to GitHub Release
      if: success()
      uses: softprops/action-gh-release@v2
      with:
        files: packages/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Install gh on failure
      if: failure()
      run: |
        # Install GitHub CLI
        choco install gh -y

    - name: Delete release and tag on failure
      if: failure()
      env:
        GITHUB_REF_NAME: ${{ github.event.release.tag_name }}
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        # Delete the release and tag
        gh release delete "$GITHUB_REF_NAME" --cleanup-tag --yes
