name: Test build Oolite packages

on:
  workflow_dispatch: # add run button in github
jobs:
  run:
    runs-on: windows-2025

    steps:
    - uses: actions/checkout@v6

    - name: Set up MSYS2
      uses: msys2/setup-msys2@v2
      with:
        update: true
    - name: Install gcc
      shell: msys2 {0}
      env:
        msystem: MINGW64
      run: |
        ./install.sh gcc
    - name: Install clang
      shell: msys2 {0}
      env:
        msystem: UCRT64
      run: |
        ./install.sh clang

    - name: Upload folder contents as artifact
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: build-artifacts
        path: packages/**
